@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    padding: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: antiquewhite;
    background-image: url("/img/space.jpg");
}

.heading-row {
    background-color: rgb(255, 197, 255);
    color: black;
}

#headline {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 197, 255);
}

table {
    line-height: 1.5em;
    font-size: 1.3em;
}

td {
    padding: 16px;
}

table,
td {
    border: rgb(255, 197, 255);
    border-style: solid;
    border-width: 4px;
    border-radius: 60px;
    border-collapse: collapse;
}



